* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;  
  }
  
  body {
    min-height: 100%;  
    background: #eee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
  }
  
  .container {
    max-width: 700px;   
    background: #fff;
    margin: 0px auto 0px; 
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 3px;  
    padding: 40px;
    margin-top: 50px;
  }
  
   .header {
    margin-bottom: 10px;
   } 

    .full-name {
        font-size: 40px;
        text-transform:uppercase;
        margin-bottom: 10px;
    }
      
    
    .first-name {
      font-weight: 700;
    }
    
    .last-name {
      font-weight: 300;
    }
    
    .contact-info {
        font-size: 10px;
      margin-bottom: 10px;
    }
    
    .email ,
    .phone,
    .address{
      color: #999;
      font-weight: bold;
    } 
    
    .separator {
      height: 10px;
      display: inline-block;
      border-left: 2px solid #999;
      margin: 0px 10px;
    }
    
    .about{
        font-size: 10px;
        line-height: 15px;
    }
    .position {
        font-size: medium;
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      text-decoration: underline;
    }
  
  .details {
    line-height: 20px;
  }

  .boxes{
    width: 600px;
    height: 200px;;

  }
    .section {
      margin-bottom: 10px;  
    }

    #skillbox{
      float: left;
      width: 350px;
      height: 180px;
    }
    
    .section:last-of-type {
      margin-bottom: 0px;  
    }
    
    .section__title {
      letter-spacing: 2px;
      color: #54AFE4;
      font-weight: bold;
      margin-bottom: 2px;
      text-transform: uppercase;
    }
    
    .section__list-item {
        font-size: 10px;
      margin-bottom: 0.5px;
    }
    
    .section__list-item:last-of-type {
      margin-bottom: 0;
    }
    
    .left ,
    .right,
    .lefts {
      vertical-align: top;
      display: inline-block;
    }
    
    .left {
      width: 60%;    
    }
    
    .right {
      text-align: right;
      width: 39%;    
    }
    
    .name {
      font-weight: bold;
    }

    .lefts{
      width: 30%;
    }
    
    a {
      text-decoration: none;
      color: #000;
      font-style: italic;
    }
    
    a:hover {
      text-decoration: underline;
      color: #000;
    }
    
    .skills {
      
    }
      
    .skills__item {
      margin-bottom: 1px;  
    }


    .skills__item.right {
        display: none;
    }
     input {
        display: none;
      }
    
      label {
        display: inline-block;  
        width: 20px;
        height: 20px;
        background: #C3DEF3;
        border-radius: 20px;
        margin-right: 3px;
      }
      
      input:checked + label {
        background: #79A9CE;
      }
    .l{
      color:#17639d;

    }
    .g{
      color: purple;
    }

    .c{
      color: green;
    }

    .e{
      color: orange;
    }

    .l,
    .g,
    .c,
    .e{
      font-weight: 700;
    }

    .ndbox{
      width: 600px;
      height: 100px;
    }

    #own{
      float: left;
      width: 300px;
      height: 70px;
    }

    #hobby{
      float: right;
      width: 300px;
      height: 70px;
    }





    
  
  